@font-face {
  font-family: "Gypsy Curse";
  src: url('gypsy-curse.regular.ttf')
}

@font-face{
  font-family: "Work Sans";
  src: url("https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800");
}

body {
  background-image: url("https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=770&q=80");
  background-attachment: fixed;
}

.main__container--navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: auto;
    overflow: none;
}

.main__navbar--button-github {
  position: fixed;
  top: 20px;
  background-color: rgba(40, 123, 178, 0.9);
  height:50px;
  width: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-left: 45px;
  margin-top: 0px;
  animation: spin 12s infinite;
  z-index: 20;
}

.main__navbar--button-github:hover {
   background-color: rgba(40, 123, 178, 0);
   transform: scale(1.75);
}

.main__image--github {
  border-radius: 50%;
  margin-left: -5px;
}

.main__image--github:hover {
 transform: scale(1.75);
 margin-top: 20px;
}

.main__image--linked-in {
  position: fixed;
  top: 20px;
  right: 40px;
  border-radius: 0%;
  animation: spin 12s infinite;
  animation-delay: 8s;
  z-index: 20;
}

.main__image--linked-in:hover {
  transform: scale(2.5);
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(720deg);
  }
  20% {
    transform: rotateY(0deg);
  }
}

.main__container--searchlight {
  position: fixed;
  top: 0px;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.75) 50%, rgba(255,255,255,0) 84%);
  border-radius: 50%;
  color: white;
  width: 100%;
  height: 1000px;
  overflow: none;
}

.spotlight {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
      circle,
      transparent 160px,
      rgba(0, 0, 0, 0.85) 200px
  );
}

#text {
  position: absolute;
  left: 38%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: rgba(10,10,10,0.5);
  text-shadow: 0px 0px 50px white;
}

.main__h1--spotlight {
    font-size: xxx-large;
}

.spot1 {
    position: absolute;
    left: 20%;
     -webkit-animation: move 12s infinite;
    }

.spot2 {
    position: absolute;
    left: 40%;
     -webkit-animation: move2 12s infinite;
    }

.spot3 {
  position: absolute;
  left: 60%;
  -webkit-animation: move 12s infinite;
  }

.spot4 {
  position: absolute;
  left: 80%;
    -webkit-animation: move2 12s infinite;
  }

  @-webkit-keyframes move {
    0%  {
      -webkit-transform: rotate(30deg);
    }
    50% {
      -webkit-transform: rotate(-30deg);
    }
    100% {
      -webkit-transform: rotate(30deg);
    }
  }

   @-webkit-keyframes move2 {
    0%  {
      -webkit-transform: rotate(-30deg);
    }
    50% {
      -webkit-transform: rotate(30deg);
    }
    100% {
      -webkit-transform: rotate(-30deg);
    }
  }

.spotlight {
  position: absolute;
  top: -100px;
  width: 63px;
  height: 0px;
  border-top: 800px solid rgba(255,255,255,0.25);
  border-left: 40px solid transparent;
  border-bottom: 0px solid #575;
  border-right: 40px solid transparent;
  background-color: transparent;
  -webkit-transform-origin: 50% 100% 0;
  z-index: 0;
  -webkit-transition-timing: ease-in-out;
}

.main__container--projects {
  position: absolute;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: 150px 400px 75px 400px 75px 400px 75px 400px 250px;
  justify-content:center;
  background-color: transparent;
  width: 100%;
  height: 1000px;
  animation: scroll-up 6s;
  animation-timing-function: ease-in-out;
}

@keyframes scroll-up {
  0% {
    top: 1200px;
  }
  50% {
    top: 1200px;
  }
  100% {
    top: 0px;
  }
}

.project__deadreads {
  grid-column-start: 2;
  grid-row-start: 8;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.0px );
  -webkit-backdrop-filter: blur( 13.0px );
  border-radius: 25px;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-top: 5%;
  /* border-radius: 7px; */
}

.main__spotlight--button1 {
  height:60px;
  width: 350px;
  margin-top: 20px;
  /* border: 2px solid black; */  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px 4px white, 4px 4px 8px rgb(233, 12, 12);
  font-weight: 900;
  font-size: xx-large;
}

.main__spotlight--button1:hover {
  padding-top: 0px;
  font-family: Gypsy Curse;
  font-size: 47px;
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  color: silver;
  animation-name: color-background;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  /* transition: text-shadow 3s; */
}

@keyframes color-background {
  0%   {background-color: white;}
  10%  {background-color: rgb(153, 106, 114);}
  20%  {background-color: red;}
  80% {
    border: none;
    background-color: transparent;
    color: rgba(0,0,0,0.3);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.0);
    text-shadow:
      34px -44px 1px black,
      38px -48px 1px #FC0000,
      42px -52px 1px #FD0000,
      47px -54px 1px rgba(254, 0, 0, 0.8),
      54px -58px 2px rgba(254, 0, 0, 0.6),
      58px -62px 2px rgba(254, 0, 0, 0.4),
      62px -66px 2px rgba(254, 0, 0, 0.2),
      68px -70px 3px rgba(254, 0, 0, 0.1);
  }
  100% {
    border: none;
    background-color: transparent;
    color: rgba(0,0,0,0.3);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.0);
    text-shadow:
      34px -44px 1px black,
      38px -48px 1px #FC0000,
      42px -52px 1px #FD0000,
      47px -54px 1px rgba(254, 0, 0, 0.8),
      54px -58px 2px rgba(254, 0, 0, 0.6),
      58px -62px 2px rgba(254, 0, 0, 0.4),
      62px -66px 2px rgba(254, 0, 0, 0.2),
      68px -70px 3px rgba(254, 0, 0, 0.1);
  }
}

.projects__emerald {
  grid-column-start: 2;
  grid-row-start: 6;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.0px );
  -webkit-backdrop-filter: blur( 13.0px );
  border-radius: 25px;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-top: 5%;
  /* border-radius: 7px; */
}

.main__spotlight--button2 {
  height:70px;
  width: 400px;
  margin-top: 20px;
  margin-left: 0px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  color: black;
  -webkit-text-fill-color: rgba(0,255.0,1);; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px 4px white, 4px 4px 4px black;
  font-family: Work Sans;
  font-weight: 900;
  font-size: 40px;
}

.main__spotlight--button2:hover {
  color: rgba(0,255.0,1);
  outline: none;
  animation: growText 1s;
}

@keyframes growText {
  0% {
    transform: scale(1);
    text-shadow: 1px 1px rgba(0,255,0,0.5);
   }
  50% {
    transform: scale(1.25);
    text-shadow: 6px 6px 4px rgba(0,255,0,0.9);

   }
  100% {
    transform: scale(1);
    text-shadow: 1px 1px rgba(0,255,0,0.5);

   }
}

.projects__lava {
  grid-column-start: 2;
  grid-row-start: 4;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.0px );
  -webkit-backdrop-filter: blur( 13.0px );
  border-radius: 25px;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-top: 5%;
  /* border-radius: 7px; */
}

.main__spotlight--button3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:70px;
  width: 350px;
  margin-top: 20px;
  margin-left: 0px;
  border: none;
  color: rgba(255,255,255,0.9);
  font-weight: 900;
  font-size: xx-large;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 84%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__spotlight--button3:hover {
  background: rgba(255,255,255,0.2);
  transform: scale(1.5);
  align-content: center;
  border-radius: 5px;
  color: rgba(255,255,255,0.9);
  font-family: Open Sans, "sans-serif";
  font-size: x-large;
  border:none;
  outline: none;
  transform: scale(1.45);
  animation: lava 2s infinite;
}

.main__text--lava:hover {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 84%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


@keyframes lava {
  0% {
    text-shadow: 0px 0px 1px rgba(255,255,255,0.7);
    /* background: rgba(255,255,255,0.1); */
  }
  50% {
    text-shadow: 0px 0px 25px red;
    /* background: rgba(255,255,255,0.01); */
  }
  100% {
    text-shadow: 0px 0px 1px rgba(255,255,255,0.7);
    /* background: rgba(255,255,255,0.1); */
  }
}

.projects__bread{
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.0px );
  -webkit-backdrop-filter: blur( 13.0px );
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 25px;
}

.main__spotlight--button4 {
  /* position: relative; */
  height:50px;
  width: 350px;
  margin-top: 20px;
  margin-left: 0px;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  color: rgba(10,10,10,0.2);
  font-weight: 900;
  font-size: x-large;
  color: black;
  background-color: rgb(236, 236, 29);
}

.main__spotlight--button4:hover {
  background-color: rgba(243,245,1,1);
  border-radius: 20px;
  color: black;
  border: none;
  outline: none;
  animation: bread 4s;
}

.projects__bread--description {
  position: relative;
  width: 90%;
  height: 80%;
  margin: 20px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.6);
}

a {
  text-decoration: none;;
}



@keyframes bread {
  0% {
    transform: scale(1);
    color: black;
    background-color: rgba(243,245,1,0.7);
    background: radial-gradient(ellipse at 0% 100%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  3% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 6% 87%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  6% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 12% 75%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  9% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 18% 62%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  13% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 25% 50%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  16% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 32% 38%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  19% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 38% 25%, rgba(255,255,255,1) 1%, rgba(243,245,1,0.5) 50%);
  }
  22% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 44% 15%, rgba(255,255,255,1) 3%, rgba(243,245,1,0.5) 50%);
  }
  25% {
    transform: scale(1.5);
    background: rgb(255,255,255);
    background: radial-gradient(circle at 50% 5%, rgba(255,255,255,1) 5%, rgba(243,245,1,0.5) 50%);
  }
  28% {
    color: silver;
    background: rgb(255,255,255);
    background: radial-gradient(circle at 56% 15%, rgba(255,255,255,1) 3%, rgba(243,245,1,0.5) 50%);
  }
  31% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 62% 25%, rgba(255,255,255,1) 1%, rgba(243,245,1,0.5) 50%);
  }
  34% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 68% 38%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  37% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 75% 50%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  41% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 82% 62%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  44% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 88% 75%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  47% {
    background: rgb(255,255,255);
    background: radial-gradient(circle at 94% 87%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  49% {
    transform: scale(1);
    color: black;
    background: rgb(255,255,255);
    background: radial-gradient(ellipse at 100% 100%, rgba(255,255,255,1) 0%, rgba(243,245,1,0.5) 50%);
  }
  55% {
    transform: scale(1);
    color: black;
    background-color: rgba(243,245,1,1);
  }
  100% {
    transform: scale(1);
    color: black;
    background-color: rgba(243,245,1,1);
  }
}
